/** @format */

:root {
	--heading-fonts: "Poppins", sans-serif;
	--body-fonts: "Inter", sans-serif;
	--background: linear-gradient(135deg, #1c1b2e, #2d2b41);
	--box-shadow1: rgba(149, 157, 165, 0.4) 0px 8px 24px;
	--box-shadow2: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
	--box-shadow3: rgba(0, 0, 0, 0.04) 0px 3px 5px;
	--box-shadow4: rgba(0, 0, 0, 0.1) 0px 4px 12px; /* Box Shadows */
	--primary-color: #ff7622;
	--secondary-color: #ff9351;
	--light-color: #e6ebf0;
	--gradient-1: linear-gradient(45deg, #ff7622, #ffb347);
	--gradient-2: linear-gradient(90deg, #ff7622, #ff6b6b);
	--gradient-3: linear-gradient(135deg, #ff7622, #ffd700);
}

@keyframes slideIn {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes slideInLeft {
    from{
        transform: translatex(-100%);
    }
   to{
        transform: translateY(0%);
    }
}
@keyframes slideInLeftbACK {
    from{
        transform: translatex(100%);
    }
   to{
        transform: translateY(0);
    }
}
body {
	overflow: hidden;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
.welcome-img {
	display: flex;
	justify-content: center;
}
.welcome-img img {
	height: 300px;
	border-radius: 50%;
}

.main-page {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100vh;
}
.welome-wrapper {
	padding: 1rem 1.8rem;
}
.welcome-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.primary-heading {
	text-align: center;
	margin-top: 1rem;
	padding-bottom: 0.4rem;
	font-size: 24px;
	font-weight: 600;
	color: #1c1b2e;
	font-family: var(--heading-fonts);
	line-height: 1.2;
}
.primary-message {
	font-size: 1rem;
	text-align: center;
	margin-bottom: 1rem;
	font-weight: 400;
	color: #666;
	font-family: var(--body-fonts);
	line-height: 1.4;
	width: 80%;
}
.btn-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}
.primary-button {
	height: 40px;
	width: 200px;
	border: none;
	background: var(--primary-color);
	font-size: 18px;
	color: #1c1b2e;
	cursor: pointer;
	font-weight: 500;
	font-family: var(--heading-fonts);

	border-radius: 2rem;
}
.account-page {
	height: 100%;
	min-height: 100vh;
	background: var(--background);
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 600px;
}
.welcomebtn {
	transition: background 0.4s ease-in;
}
.welcomebtn:hover {
	background-color: var(--secondary-color);
}

/* this is account css here */

.account__wrapper {
	width: 100%;
	padding-inline: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;

	padding: 1rem;
	margin-inline: 2rem;
	border-radius: 1rem;
}
.account__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4rem;
	width: 100%;

	text-align: center;
}
.account__footer {
	width: 40%;
}
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	width: 100%;
	padding-inline: 0.4rem;
}
.form-group {
	width: 100%;
}
.form-group input {
	width: 100%;
}
label {
	display: block;
	font-size: 20px;
	color: #444;
	font-family: var(--heading-fonts);
	margin-bottom: 0.4rem;
}

.form-item {
	height: 50px;
	border-radius: 0.4rem;
	padding: 0.4rem 0.8rem;
	outline: none;
	font-size: 18px;
	color: #888;
	border: 1px solid #ccc;
}
.form-item:focus {
	border: 2px solid #666;
}
.account-button {
	background: var(--primary-color);
	width: 100%;
	height: 50px;
	font-weight: 600;
	font-size: 18px;
	font-family: var(--heading-fonts);
	color: #fff;
	outline: none;
	border: none;
	border-radius: 0.4rem;
	transition: all 0.4s linear;
	cursor: pointer;
}
.account-button:hover {
	background-color: var(--secondary-color);
}
.footer-text {
	text-align: center;
	font-size: 18px;
	color: #666;
	font-family: var(--body-fonts);
	font-weight: 400;
}
.action-Btn {
	color: var(--primary-color);
	font-weight: 600;
	cursor: pointer;
}

.secondary-heading {
	font-size: 30px;
	font-weight: 700;
	color: #333;
	text-transform: capitalize;
	margin-bottom: 0.4rem;
	font-family: var(--heading-fonts);
}
.secondary-text {
	font-size: 18px;
	color: #777;
	margin-bottom: 0.8rem;
	font-family: var(--body-fonts);
}
/* .hidelogin{
    display: none;
} */
.hideregister {
	display: none;
}

.header__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 3rem;
}

.header__menu img {
	min-height: 50px;
	min-width: 50px;
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 50%;
}
.food__photo img {
	height: 100px;
	width: 100px;
	object-fit: cover;
}
.logo-header {
	display: flex;
	align-items: center;
	padding-bottom: 0.4rem;
	width: 40%;
}
.logo-header img {
	height: 80px;
	min-height: 80px;
	object-fit: cover;
}
.dashboard {
	
	width: 100%;
	display: flex;
}
.header__top {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 0.4rem 1rem;
	background-color: white;
	position: fixed;
	left: 0%;
	right: 0;
	margin-left: 250px;
	top: 0;
	z-index: 88;
	box-shadow: var(--box-shadow4);
}
.dashboard__main--wrapper{
    width: 80%;
    overflow-y: auto;
    margin: 0 auto;
}
.side-bar {
	position: fixed;
	z-index: 99;
	left: 0;
	width: 250px;
	bottom: 0;
	top: 0;
	display: flex;
    animation:  slideInLeftbACK 1s ease-in-out;

	background: var(--background);
}

.side__bar-menus {
	display: flex;
	padding-top: 2em;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 4rem;
	padding-left: 1.4rem;
	width: 100%;
}
.side__bar--menus-items {
	display: flex;
	flex-direction: column;
	gap: 1rem;
    
}
.menu__list-item {
	display: flex;
	gap: 0.8rem;
	align-items: center;
    padding-left: 0.8rem;
    padding-block: 0.8rem;
    width: 70%;
    border-radius: 0.8rem;
    transition: all 0.4s linear;
}
.menu__list-item:hover{
    background-color: #413e6045;
}
.menu__list-item i {
	color: var(--primary-color);
	font-size: 24px;
}
.menu__list-item span {
	font-size: 18px;
	font-family: var(--heading-fonts);
	color: #c1c1c1;
	font-weight: 400;
}
.dashboard-main {
	margin-left: 280px;
	width: 100%;
	padding-top: 1rem;
	margin-right: 2rem;


}
.header__bottom {
	margin-top: 5rem;
	padding-block: 1rem;

	padding-inline: 1rem;
}
.menu-heading{
    text-align: left;
}
.greeting {
	font-size: 18px;
	color: #555;
	font-weight: 500;
	font-family: var(--heading-fonts);
	margin-bottom: 1rem;
}
.greeting span {
	color: var(--primary-color);
}
.dashboard__header {
	width: 100%;
}
.cart {
	padding: 0.4rem;
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	color: #1c1b2e;
	cursor: pointer;
	border-radius: 50%;
	position: relative;
}
.notice {
	position: relative;
	font-size: 28px;
	font-family: var(--heading-fonts);
	color: #1c1b2e;
}
.notice_count {
	top: -5%;
}
.notice_count,
.order-count {
	position: absolute;
	background: var(--primary-color);
	min-height: 20px;
	min-width: 20px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	right: 2%;
	top: 0%;
	cursor: pointer;
	text-align: center;
	font-size: 14px;
	color: #fff;
	font-weight: 700;
	font-family: var(--heading-fonts);
}
.promo__banner {
	background-color: #ff7622;
	padding: 1rem;
	display: flex;
    align-items: center;
	justify-content:center;
	border-radius: 0.8rem;
}
.promo__content{
    width: 50%;
}
.banner-image img{
    height: 200px;
}
.promo__heading {
	font-size: 22px;
	font-family: var(--heading-fonts);
	font-weight: 600;
	margin-bottom: 0.6rem;
	color: #1c1b2e;
}
.promo__text {
	font-size: 16px;
	color: #fff;
	font-weight: 500;
	font-family: var(--body-fonts);
	line-height: 1.4;
	margin-bottom: 0.4rem;
}
.promo__text span {
	color: #2d2b41;
	font-weight: 700;
}
.dashboard__body {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	padding: 1rem;
}
.food-item {
	box-shadow: var(--box-shadow4);
	padding: 1rem;
	border-radius: 0.4rem;
	display: flex;
	gap: 1rem;
    width: 100%;
}
.food__info {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
    width: 100%;
}
.food__price--btn {
	display: flex;
	align-items: center;
    justify-content: space-between;
  
    width: 100%;
	gap: 1.5rem;
}
.food__name {
	font-size: 18px;
	color: #1c1b2e;
	font-weight: 500;
	font-family: var(--heading-fonts);
}
.food__btn {
	height: 30px;
	width: 90px;
	border: none;
	background: var(--primary-color);
	border-radius: 0.4rem;
	font-family: var(--heading-fonts);
	font-weight: 600;
	cursor: pointer;
	color: #fff;
}
.price-text,
.price {
	color: #555;
	font-size: 16px;
	font-weight: 500;
	font-family: var(--heading-fonts);
}

.price-text {
	margin-right: 0.4rem;
}
.footer__menus {
	background-color: #fff;
	box-shadow: var(--box-shadow2);
	border-top: 1px solid #ff7622;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;

	padding: 1rem;
	height: 70px;
	align-items: center;
	display: flex;
    animation: slideIn 1s ease-in-out;
}
.footer__menus--wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.menu__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.4rem;
	font-size: 18px;
	color: #666;
	font-weight: 500;
	cursor: pointer;
	font-family: var(--heading-fonts);
}
.menu__item i {
	font-size: 20px;
	color: #1c1b2e;
	margin-top: 0.4rem;
}
.meal__details--image img {
	height: 200px;

	width: 200px;
	min-height: 200px;
	display: inline-block;

	min-width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	object-fit: cover;
}
.meal__details--wrapper {
	margin-block: 4rem;
	padding-block: 1rem;
}
.meal__details--header {
	background-color: var(--primary-color);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-block: 2rem;
}
.footer__menus {
	display: none;
}

@media screen and (max-width: 840px) {
	.account__footer {
		width: 100%;
	}
    .dashboard__main--wrapper{
        width: 100%;
        margin: 0;
        padding: 1rem;
    }
    .promo__content{
        width: 100%;
        text-align: center;
    }
    .promo__banner{
        flex-direction: column;
    }
    .promo__banner img{
      height: 100px;
      width: 100%;
      object-fit: cover;
    }
}
@media screen and (max-width:700px) {
	.side-bar{
        display: none;
    }
    .dashboard-main{
        margin-left: 20px
    }
    .header__top{
        margin-left: 0;
    }
    .footer__menus{
        display: block;
        padding-bottom: 8rem;
    }
}
@media screen and (max-width:500px) {
	.dashboard-main{
        margin-left: 0;
    }
    .food__price--btn{
        gap: 1rem;
    }
    .dashboard__main--wrapper{
        padding: 0;
       
    }
    .footer__menus{
        padding-bottom: 2rem;
    }
    .food-item:last-child{
        margin-bottom: 2rem;
    }
}


